.accordian {
    width: 80%;
    margin: 32px auto;
}

.accordian>div>:not(div:first-child) {
    display: none;
}

.accordian>div.active> :not(div:first-child) {
    display: block;
}

.accordian>div>div:first-child {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    padding: 0 7px;
    transition: 0.4s;
    font-weight: 700;
    border: solid 2px #d3d2d2;
    box-shadow: 0 0 10px #d3d2d2;
    font-family: roboto-slab, serif;
    font-size: 26px;
    line-height: 0.96;
    color: #783384;
}

.accordian>div>div:first-child>p {
    margin: 0;
}

.accordian>div>div:first-child>p:nth-child(2) {
    margin: 0 0 0 26px;
    padding: 12px 18px 12px 33px;
    border: solid 2px #f3f1ed;
    background-color: #f3f1ed;
    width: 100%;
}

.accordian>div>div:first-child>p:nth-child(2)::after {
    font-weight: 400;
    margin-left: 5px;
    margin-top: 3px;
    float: right;
    color: #783384;
    font-size: 50px;
    line-height: 0.5;
    width: 24px;
    height: 25px;
    content: "";
    background: url('https://www.knowpneumonia.com/images/understand/open-accordion.png') no-repeat;
}

.accordian>div.active>div:first-child>p:nth-child(2)::after {
    background: url('https://www.knowpneumonia.com/images/understand/close-accordion.png') no-repeat;
}