.hero-banner .hero-container {
    display: flex;
}

.hero-banner .hero-container>div:first-child {
    padding: 25px 60px 0;
}

.hero-banner .hero-container h1 {
    color: #783384;
    font-family: lato, sans-serif;
    font-size: 40px;
    line-height: 1.13;
    letter-spacing: -0.2px;
    margin-top: 10px;
}

.hero-banner .hero-container p {
    font-family: lato, sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.2px;
    text-align: left;
    color: #363636;
}

.hero-banner .hero-container video {
    width: 529px;
    height: 298px;
    padding: 45px 0 0 68px;
}

.hero-banner .view-container {
    padding-left: 45px;
}

.hero-banner .view-container>div:nth-child(2),
.hero-banner .view-container>div:first-child>p:nth-child(2) {
    display: none;
}

.hero-banner .view-container>div:first-child p,
.hero-banner .view-container>div:nth-child(2) p:nth-last-child(1) {
    text-align: right;
    color: #783384;
    font-family: lato, sans-serif;
    font-size: 20px;
    line-height: 1.13;
    letter-spacing: -0.2px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.hero-banner .view-container>div:nth-child(2) p {
    font-family: lato, sans-serif;
    color: #363636;
}

/* .hero-banner .view-container>div:nth-child(2), */
.hero-banner .view-container>div:first-child p:nth-child(2) {
    width: 57.1%;
    border: #25a8d9 2px solid;
    border-bottom: 0;
    padding-top: 15px;
    background: #fff;
    margin-left: auto;
    padding: 16px;
    margin-bottom: -2px;
    z-index: 9999;
    position: relative;
}

.hero-banner .view-container>div:nth-child(2) {
    border: #25a8d9 2px solid;
    padding: 15px;
}

@media(width < 600px) {
    .hero-banner .hero-container {
        flex-direction: column;
    }

    .hero-banner .hero-container>div:first-child {
        padding: 16px;
    }

    .hero-banner .hero-container h1 {
        font-size: 20px;
    }

    .hero-banner .hero-container p {
        font-size: 16px;
    }

    .hero-banner .hero-container video {
        width: 90%;
        max-width: 90%;
        height: 200px;
        margin: 0;
        padding: 0 16px;
    }

    .hero-banner .view-container {
        padding: unset;
        margin: 16px;
    }

    .hero-banner .view-container p,
    .hero-banner .view-container>div:first-child p,
    .hero-banner .view-container>div:nth-child(2) p:nth-last-child(1) {
        font-size: 16px;
    }

    .hero-banner .view-container.active {
        border: #25a8d9 2px solid;
    }


    .hero-banner .view-container>div:nth-child(2),
    .hero-banner .view-container>div:first-child p:nth-child(2) {
        border: unset;
    }
}